/*===============================================================================================*/
/*    COLORS                                                                                     */
/*===============================================================================================*/

$white: #ffffff;
$black: #171717;

$primary: #87BE34;
$secondary: #7EC0B5;

$text: #484848;
$lines: #EEEEEE;
