/*===============================================================================================*/
/*		                                  FONT - AVENIR							         		            		   */
/*===============================================================================================*/

// $openSans-font-dir: "~static/fonts/openSans/";
$icon-dir: "~static/icons/";

// @font-face {
//   font-family: "OpenSans";
//   src: url($avenir-font-dir+"OpenSans-Regular.eot");
//   src: url($avenir-font-dir+"OpenSans-Regular.eot?#iefix") format("embedded-opentype");
//   src: url($avenir-font-dir+"OpenSans-Regular.woff") format("woff");
//   src: url($openSans-font-dir+"OpenSans-Regular.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }

/*===============================================================================================*/
/*		ICONFONTS																											 */
/*===============================================================================================*/

/* Default icons, arrows and such */

@font-face {
  font-family: "icons";
  src: url($icon-dir+"icons.eot");
  src: url($icon-dir+"icons.eot?#iefix") format("embedded-opentype"),
    url($icon-dir+"icons.woff") format("woff"),
    url($icon-dir+"icons.ttf") format("truetype"),
    url($icon-dir+"icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
